@model InsuranceTrancking.Models.insurance_policies

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>insurance_policies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customers.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customers.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insurance_companies.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insurance_companies.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicles.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicles.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverageType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PolicyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
